[Desktop Entry]
Version=1.0
Type=Application
Name=Eclipse SkDev
GenericName=Eclipse SkDev
Comment=Uma IDE fantástica Dockerizada
Exec=bash -c "xhost + && docker start eclipse-skdev"
Terminal=false
Icon=/opt/eclipse-snk/eclipse-icon.xpm
Categories=Development;
StartupNotify=true
Actions=Window;Document;
