[Desktop Entry]
Version=1.0
Type=Application
Name=Eclipse Sankhya
GenericName=Eclipse Sankhya
Comment=Uma IDE fantástica Dockerizada
Exec=xhost + && docker start eclipse-skdev
Terminal=false
Icon=/opt/eclipse-snk/eclipse-icon.xpm
Categories=Development;
StartupNotify=true
Actions=Window;Document;
